body {
    font-family: 'Space Grotesk', sans-serif;
  }

h1 {
font-weight: 600; /* Bold */
  }

h2 {
font-weight: 500; /* Semi-bold */
  }

h3 {
font-weight: 400; /* Medium */
  }
  
.content {
display: flex;
  }

.tabs-section {
flex: 2; /* Takes two-thirds of the available space */
  }

.movie-talk-section {
flex: 1; /* Takes one-third of the available space */
  }
